body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff8e1;
}
.container-nav {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/115/214/original/MAIN_BG.png?1707835380);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.nav-list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  transition: color 0.3;
  border-bottom: 1px solid #caaea4;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #f0dbce;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
}

.menu {
  width: 2rem;
  height: 2rem;
}

.nav-sign {
  display: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hero {
  display: grid;
  color: #523728;
}
.hero-content {
  text-align: center;
}

.cake-image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid-1x2 {
    grid-template-columns: 1fr 1fr;
  }

  .grid-1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .hero-content {
    text-align: left;
    align-self: center;
  }

  nav {
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 0;
  }

  .menu {
    display: none;
  }

  ul {
    list-style: none;
    display: flex;
    border-radius: 10px;
    background-color: #6f4436;
    text-align: center;
    position: relative;
    color: #ffffff;
  }
  a {
    text-decoration: none;
    padding-right: 20px;
    padding-left: 15px;
  }
  li {
    padding: 0 8px;
  }
  .nav-home {
    color: #6f4436;
    background-color: #ffffff;
    border-radius: 10px;
    margin-right: 10px;
    padding: 8px 20px;
    position: absolute;
    left: 0;
  }

  .nav-sign {
    outline: 1px solid black;
    padding: 8px;
    border-radius: 38px;
    cursor: pointer;
    border: none;
    display: block;
    transition: color 0.3;
  }

  .nav-sign:hover {
    color: rgb(110, 98, 98);
  }

  .nav-list {
    width: auto;
  }
  h2 {
    font-size: 60px;
  }
  .hero-content2 {
    padding-left: 20px;
  }

  .header-section {
    width: 579px;
  }

  menu {
    height: 90vh;
  }

  .menu-content {
    margin-left: 20px;
  }

  .blueberry-content {
    font-size: 25px;
  }

  .view-content a {
    font-size: 24px;
  }
}

h1 {
  font-size: 3rem;
  font-family: "Inika", serif;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0;
}

.hero-p {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  width: 427px;
  margin-top: 2rem 0 5rem;
}

.hero-button {
  background-color: #6f4436;
  color: #ffffff;
}

.hero-button:hover {
  background-color: #bd826e;
}

.hero-button,
.hero-button-2 {
  padding: 15px 25px;
  border-radius: 100px;
  cursor: pointer;
  border: none;
}
.hero-button-2 {
  outline: 1px solid black;
  background-color: transparent;
  margin: 10px;
}
.hero-button-2:hover {
  background-color: #6f4436;
  color: #ffffff;
  outline: none;
}

.fa-play {
  color: #745545;
}

.fa-play:hover {
  color: #ffffff;
}

.grid {
  display: grid;
  gap: 20px;
}
h2 {
  font-size: 45px;
  color: 220404;
  font-weight: 400;
  font-family: "Inika", serif;
}

.header-section {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 480px;
  font-size: 20px;
  padding-left: 0;
}

menu {
  background-color: #6a4028;

  position: relative;
}

h3 {
  font-family: "Inika", serif;
  font-weight: 400;
  font-size: 64px;
  margin: 50px;
  text-align: center;
  color: #fff8e1;
}
.card {
  max-width: 500px;
  border-radius: 40px;
  background-color: #fff8e1;
  margin: 0 auto;
  padding: 20px;
}

.cheesecake-image {
  margin: 0 auto;
  display: block;
}
.menu-content {
  margin-left: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.blueberry-content {
  font-family: "inika", serif;
  font-size: 23px;
  font-weight: bold;
}

.blueberry-content2 {
  font-family: "Recursive", sans-serif;
  font-weight: 100;
  font-size: 13px;
  line-height: 0.5;
}
.content-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
}
.dollar-sign {
  color: #53a623;
  font-weight: bold;
}

.fa-star-symbol {
  margin-right: 20px;
}
.fa-star {
  color: #6a4028;
  font-size: 12px;
}

.view-content {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: #fff8e1;
  font-size: 13px;
  font-weight: 400;
}

.arrow {
  width: 12px;
  height: 12px;
}
